@charset "UTF-8";

@media screnn and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c52);
  }

  #login {
    width: 90vw;
    height: 280px;
  }

  #login > #image {
    width: 30%;
    height: 100%;
    float: left;
  }

  #login > #formulario {
    width: 70%;
    float: right;
  }
}

@media screen and (min-width: 992px) { 
  body {
    background-image: linear-gradient(to top, #49a09d, #5f2c52);
  }

  #login {
    width: 950px;
    height: 350px;
  }

  #login > #image {
    float: right;
    width: 50%;
    height: 100%;
  }

  #login > #formulario {
    width: 50%;
    float: left;
  }
  
  #formulario > h1 {
    font-size: 2em;
  }

  #formulario > p {
    margin: 10px auto;
    font-size: 1em;
  }
}